*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.content{
    text-align: center;
}

.content h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}

.content h1:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;

}

.content a{
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    display: inline-block;
    border: 2px solid white;
    padding: 14px 50px;
    margin-top: 20px;
    transition: 0.5s;
}

.content a:hover{
    background: white;
    color: black;
    transform: translateY(-3px);
}


@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}
