*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100vw;
    height: 100vh;
    background-color: rgb(52, 51, 161);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.main div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;  
    animation: DynamicLoading 0.8s ease infinite; 
}

.main .a{
    animation-delay: 0.2s;
}

.main .b{
    animation-delay: 0.3s;
}

.main .c{
    animation-delay: 0.4s;
}

.main .d{
    animation-delay: 0.5s;
}


@keyframes DynamicLoading {
    0%{
        width: 20px;
        height: 20px;
    }

    50%{
        width: 10px;
        height: 10px;
    }
}